/*header {
   background: url("../images/hero.jpg");
  background-position: right;
  background-size: cover;
  color:#5C8819;
}

.full-header, .sub-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-header h1, .sub-header h1 {*/
  /* padding-right: 3em; */
  /*color:#5C8819 !important;
}

.full-header{
  height:30em;

}

.sub-header{
  height:25em;

}*/
